<tr>
        <td><%= item.owner.username.capitalize() %></td>
        <td><%= item.category.title.capitalize() %></td>
        <td><%= item.priority %></td>
        <td><%= item.completed %></td>

            <td id="<%= dom_id(item) %>_complete" >
                  <% if not completed %>
                    <%= render "items/complete", item: item %>

                  <%else%>
                      <%= render "items/incomplete", item: item %>

                  <%end%>

            </td>


        <td><%= item.due_date %></td>
        <td><%= item.description %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
