<p id="notice"><%= notice %></p>


<h1>All Items</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Category</th>
      <th>Priority</th>
      <th>Completed?</th>
      <th>Due Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.owner.username.capitalize() %></td>
        <td><%= item.category.title.capitalize() %></td>
        <td><%= item.priority %></td>
        <% completed = item.completed %>

        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
      
      
              
                <td id="<%= dom_id(item) %>_complete" >
                  <% if not completed %>
                    <%= render "items/complete", item: item %>

                  <%else%>
                      <%= render "items/incomplete", item: item %>

                  <%end%>

                </td>
            


        
        <td><%= item.due_date %></td>
        <td><%= item.description %></td>
  
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

