<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @item.owner_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @item.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Interactions count:</strong>
  <%= @item.interactions_count %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
